[submodule "salt/formulae/postgres-formula"]
	path = salt/formulae/postgres-formula
	url = https://github.com/tfolio/postgres-formula.git
	branch = config-sls
[submodule "salt/formulae/nginx-formula"]
	path = salt/formulae/nginx-formula
	url = https://github.com/tfolio/nginx-formula.git
	branch = tfolio
[submodule "salt/formulae/uwsgi-formula"]
	path = salt/formulae/uwsgi-formula
	url = https://github.com/tfolio/uwsgi-formula.git
